@use './reset.scss';

/* Add your css here */

   $icons: 30px;
   $padding: 15px;



   body{background: rgb(231, 230, 230);}
   html{
   font-size: 13px;
   font-family: "Roboto", sans-serif;
   line-height: 1.30769231;
   
   }

   $desktop : 756px;
 @mixin desktop {
    @media (max-width : #{$desktop}) {
         @content ;
    }
}





.h-container{
        background: white;
        width: 100%;
       height: auto;
       display: grid;
       grid-template-columns: 50% 50%;
       grid-template-areas:"right left";    
      
       .left{
        grid-area: right;
        align-items: baseline;
        padding: $padding;
        margin-left: 45px;

        @include desktop{
                position: relative;
                top: 15px;
                margin-left: 0px;
            }
       }

       .right{
        grid-area: left;
        padding: $padding;
        margin-right: 45px;   
        
        @include desktop{
                display: flex;
                flex-direction: column; 
                flex-wrap: nowrap;    
                margin-right: 0px;
                padding: 10px 10px;
               }
     

     ul li{
        display: flex;
        flex-direction: row;
        padding: 0px  $padding;
        float:  right;

        @include desktop{
                float: right;
                padding: 2px 15px;
            }
       
     }

}
        img{
                max-width: 40px;
                height: auto;
                @include desktop{
                        width: 20px;
                    }
       
        }

        a{
                color: rgb(74, 70, 70);
                text-decoration: none;
                text-transform: none;
                @include desktop{
                        font-size: 12px;
                    }
               
            }
}       

.banner{
        width: 100%;
        background-image:url(bg.jpg);
        background-size: cover;
        height: 500px ;

        .sec-top{
                display: flex;
                flex-direction: row;
                float: right;
                align-items: baseline;
                padding: 10px;
                h6{
                    color: white;
                    padding-right: 50px;
                }
                btn1{
                        border:  solid white;
                        background-color: whitesmoke;
                        border-radius: 5px;
                           color: rgb(12, 11, 11);
                           font-weight: 400;
                           text-align: center;
                           padding:  15px;
                           border-radius: 2px;  
                       }
                    }
                }
                .search{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content:  center;
                        align-items:  center;

                .logo{
                        width: 200px;
                        @include desktop{
                                width:600px;
                            }
                }
                h2{
                        font-size: 22px ;
                        float: start;
                        color: white;
                        text-align: center;      
                }
        }
        .search-restaurant{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 20px 0px;
                        @include desktop{
                                flex-direction: column;
                                margin:  5px;
                            }
                }

                #search-rest{
                        width:400px;
                        height:auto;
                        border-radius: round($number: 6);
                        border-color: white;
                        margin-left: 5px;

                        @include desktop{
                                width: 300px;
                                padding: 5px;
                            }

                }               
         #search-loc{
                 display: block;
                 margin-right: 50px;
                 width: 200px;
                 height: auto;
                 border-radius: 20px;
                 border: white;
                 padding: 15px;
                 @include desktop{
                        width: 150px;
                        margin: 0px;

                    }

         }    

         .search-btn{
                 background-color: rgb(255, 61, 61);
                 color: black;
                 border-radius: 3px;
                 width: 100px;
                 height:  35px;
                 font-size: 15px;
                 text-align:  center;
                 margin-left: 20px;
                 padding: 5px;

                 @include desktop{
                        width: 95px;
                        height: 30px;
                        font-size: 15px ;
                       /* margin-bottom: $padding*3;*/
                    }
             }
             .search-btn ,#search-rest,#search-loc{
                     justify-content: space-between;
             }
        
        
        .Widget{
                display:  grid;
                grid-row: auto;
                grid-template-columns:  70% 30%;
                grid-template-areas: 
                'zomaland search'
                'collection search';
                padding: $padding;  
                
                @include desktop{
                        grid-row: 30% auto;
                        grid-template-columns: auto;
                        grid-template-areas: 
                        'search'
                        'collection' ;
                        }
          }

       
        .search-delivery{
                grid-area: search;
                width: 100;
                h2{
                        font-size: 30px;
                        font-display: bold;
                }
        }
        .search-white{
                margin-top:  10px;
                display:  flex;
                flex-direction: column;
                background-color: white;
                border-radius: 5px;

                   h4{
                           font-size:  20px;
                           font-weight: 40px ;
                           font-style: bold;
                   }
               
                        justify-content: center;
                            padding: $padding;
                }
                span{
                        padding: $padding;
                }
                .search-del{
                        width: 65%;
                        height: 10px;
                        padding: 10px;
                        border-radius: 5px;
                        margin:0px;
                        @include desktop{
                                height: 10px;
                                width: 60%;
                            }

                }
        
        .detect-btn{
                margin: 5px;
                padding: 5px;
                background: rgb(225,225,225);
                text-align: center;
                border-radius: 3px;
                width:19%;

                @include desktop{
                        font-size: 12px;
                        width: 19%;
                    }
          }
                .order-btn{
                        background: green;
                        color: wheat;
                        border-radius: 3px;
                        height:30px;
                        @include desktop{
                                height: 30px;
                        }

                 }
        .line{
                margin-top: $padding;
                width: 90%;
                height: 2px;
                background-color: black;
                margin-bottom: 10%;
        }
        .offer{
                color: #ff3d3d;
                margin-bottom: $padding*6;
                display:block;
                width: 100%;
                text-align: center;
        }
   
    

        .zomaland img{
                grid-area: zomaland;
                width: 100%;
                padding-right: 15px; 
                @include desktop{
                        display: none;
                        }    
        }

        .collections{
                grid-area: collection;
                display: block;
                overflow: hidden;
                height: auto;

        .collection-head{
                padding: $padding;
                
        }
        #col-title{
                font-size: 25px;
                font-weight: 60px;
               
        }


        .collection-list{
    
                display: flex;
                flex-direction: row;
                grid-area: collection;
                flex-wrap: wrap;
                padding: 0px;
                }
        .card{
                 margin-right: $padding; 
                 padding: $padding;
                 .card-title, .card-text{
                         padding: 5px;

                 }
                 @include desktop{
                        width: 100%;
                        margin: 0 0 5px 5px;
                        text-align: center;
                    }       

        }

        .collection-footer{
                grid-area: collection;
                width: 100%;
               padding: $padding ;
                height: auto;
                text-align: center;
                background-color: whitesmoke;
                color: rgb(255, 61, 61) ;
                
            }
        }

        .categories{
                margin: $padding;
                .cat-head{
                    padding: $padding 0px;
                  #cat-title{
                          font-size: 35px;
                          font-weight: 40px;
                  }
                }

                .categories-box{
                
                        #category-list{
                                background-color: white;
                                width: 100%;
                               display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                
                            }
                            li{
                                
                                text-align: center;
                                padding: 10px $padding*2;
                                width: 12.5%;
                                @include desktop{
                                    width: 32%;
                                    padding: 0px $padding;
                                }
                                img{
                                    width: 80px;
                                    @include desktop{
                                        width: 60px;
                                    }
                                }
                            }
                         }
                         
                        }
       .localities{
        margin: $padding;

        .loc-head{
                padding: $padding 0px;
            }
          
        #loc-title{
                font-size: 35px;
                font-weight: 70px;
        }

            .locality-list{
                display: flex;
                flex-direction:row;
                flex-wrap: wrap;
                padding: $padding;
                background-color: white;
            

                ul{

                        width: 450px;
                        padding-left: $padding;
                        padding-bottom:$padding ;
                        li{
                            font-size: 16px;
                            
                        }
                    }

                    ul li span{
                        color: rgb(157, 156, 156);
                    }
               }
               
  }
        
                      .container{
                        .figures{
                                ul{
                                display: flex;
                                justify-content: space-between;
                                text-align: center;
                                font-weight: lighter;
                                background-color:rgb(233, 237, 240); 
                                opacity: 0.6;
                                padding-bottom: 20px;
                                padding-top: 10px;

                                @include desktop{
                                       display:none; 
                                }
                            }
                        }
                }   
               
                        footer{
                                background-color: rgb(41, 41, 41);
                                 margin: 20px;
                                 color: rgb(208, 203, 203);
                                 .foot-top{
                                     position: relative;
                                     top: 0px;
                                     padding: $padding;
                                     img{
                                       width: 50px;
                                       height: auto;
                                     }
                                     .dropdown{
                                        color: white;
                                        float: right;
                                        background-color: black;
                                        button{
                                           background-color: red; 
                                           color: white;
                                        }
                                     }
                                }
                        }      
                             

                        .footer-wrapper{
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                padding: $padding;
                        
                                ul{
                                   width: 480px;
                                   height: auto;
                                   padding-right: $padding;
                                }
                                li{
                                    display: flex;
                                    flex-wrap: wrap;
                                    padding-bottom: 5px;
                                }
                 }

                 .line{
                        width: 90%;
                        height: 0.5px;
                        background-color:rgb(96, 94, 94) ;
                        margin: 15px;
                    }
                    .countries{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        height: auto;

                        @include desktop{
                                flex-direction: column;
                            }
                        
                    
                        ul{
                        margin-left: 15px;
                        margin-right: 250px;
                        
                        li{
                        display: flex;
                        flex-wrap: wrap;
                        padding-bottom: 5px;
                       
                    }
                }
                }

                .terms{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        margin: $padding;
                    
                        li{
                            padding-right:$padding*2 ;
                        }
                }
              
          
                
                           
                        
                   
                        
               

                       
                         


            


         
    


      






         